/* Nisarg Khyali 8910019*/

html{
    font: normal normal normal 20px  Arial ;
}
body{
    width: 100vw;
    height: 100vw;
    background-color: rgb(163, 156, 241);
    display: flex;
    flex-direction: column;
} 
h1{
    font-size: 2.5rem;
    color:blueviolet; 
     
}

h2{
    flex: 1 10%;
    font-size: 2rem;
    color:#a63;
}

header{
    background-color: hsl(71, 87%, 50%);
}
nav{

    flex: 1 5%;
}
nav ul li{
    display: inline;
    list-style: none;
}
nav ul li a{
    border: 2px solid indigo ;
    background-color: cornsilk;
    text-decoration: none;
    padding: 1em;
    color:indigo; 
}
nav ul li a:hover{
    border: 2px solid cornsilk ;
    background-color: indigo;
    color:cornsilk;
}
section{
    display: flex;
    flex-direction: row;
    flex:4 8%;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: space-between;
}

main{       
        background-color:yellow;
        flex: 2 1 70%;
    }

aside{
    flex: 1 2 30%;
    background-color: hsl(206, 83%, 37%);
}

aside ul{
    list-style-type: circle;
}

aside li,a{
    line-height: 2rem;
    color: rbga(133, 245, 21,0.8)
}

aside a{
    color:rgba(200, 100, 50, 0.5)
}

aside a:hover{
    color: #f67;
}

footer{
    flex: 1 5%;
    background-color: hsl(52, 93%, 42%);
}
.structural{
    margin : 1rem;
    padding : 1rem;
    border: 2px solid black;
}
#para1{
    color: rgb(223, 75, 1)
}
#para2{
    color: rgba(4, 188, 239, 0.768)
}

form{
    padding: 3px;
    border: 5px dashed black;
}
input[type=text], input[type=email], input[type=submit], select, option{
    display: block;
    width: 50%;
    height: 2em;
}
input[type=radio], input[type=checkbox]{
    height: 2em;
    width: 2em;
}
select, option, label, legend{
    font-variant: small-caps;
    font-weight: bold;
    font-size: 1.5rem;
}
textarea{
    display: block;
    width: 50%;
}
fieldset{
    border: none;
}
#gallery{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}

figure{
    border:2px solid black;
}
img{
    width: 80%;
    height: 80%;
}
footer p{
    font-size:0.7em;
}
@media (max-width:1200px){
    html{
        font-size: 15px;
    }
}

@media (max-width: 600px){
    #gallery{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}